/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-800 h-screen text-center text-white p-0;
}

@keyframes color-change-1 {
    0% {
        color: theme('colors.m-blue');
    }
    25% {
        color: theme('colors.m-yellow');
    }
    50% {
        color: theme('colors.m-yellow');
    }
    75% {
        color: theme('colors.m-red');
    }
    100% {
        color: theme('colors.m-red');
    }
}

.color-change-1 {
    animation: color-change-1 3s step-end infinite alternate both;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: center;
    }
    100% {
        transform: translateY(-3px);
        transform-origin: center;
    }
}

.text-pop-up-top {
    animation: text-pop-up-top 0.25s ease-in-out alternate-reverse ;
}

.window .content {
    padding: 0 !important;
}

.window .close {
    display: none !important;
}

.game-lose-state {
    @apply grayscale;
}